<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<div layout:fragment="content" class="container-md my-5">
<!--  여기가 main  -->

    <h1>[ no.[[${board.bno}]] ] Detail Page</h1>
    <form action="/board/update" method="post" class="my-5" id="modForm">
        <input type="hidden" name="bno" th:value="${board.bno}">
        <div class="mb-3">
            <label for="t" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="t" readonly th:value="${board.title}">
        </div>
        <div class="mb-3">
            <label for="w" class="form-label">Writer</label>
            <input type="text" class="form-control" id="w" name="writer" readonly th:value="${board.writer}">
        </div>
        <div class="mb-3">
            <label for="r" class="form-label">regDate</label>
            <input type="text" th:value="${#temporals.format(board.regDate,'yyyy-MM-dd HH:mm:ss')}" readonly class="form-control" id="r" >
        </div>
        <div class="mb-3">
            <label for="c" class="form-label">Content</label>
            <textarea class="form-control" id="c" name="content" readonly rows="10" cols="30">[[${board.content}]]</textarea>
        </div>
    </form>

    <a th:href="@{#}" class="text-decoration-none">
        <button type="button" id="modBtn" class="btn btn-warning">modify</button>
    </a>
    <a th:href="@{/board/remove(bno=${board.bno})}" class="text-decoration-none">
        <button type="button" id="delBtn" class="btn btn-danger">delete</button>
    </a>
    <a th:href="@{/board/list}" class="text-decoration-none">
        <button type="button" id="listBtn" class="btn btn-primary">list</button>
    </a>

    <script th:src="@{/js/boardModify.js}"></script>
</div>