<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<div layout:fragment="content" class="container-md my-5"
     th:with="board = ${boardFile.boardDTO},
        fileList = ${boardFile.fileList}">
<!--  여기가 main  -->
    <h1>[ no.[[${board.bno}]] ] Detail Page</h1>
    [[${boardFile}]]
    <form action="/board/update" method="post" class="my-5" id="modForm">
        <input type="hidden" name="bno" th:value="${board.bno}">
        <div class="mb-3">
            <label for="t" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="t" readonly th:value="${board.title}">
        </div>
        <div class="mb-3">
            <label for="w" class="form-label">Writer</label>
            <input type="text" class="form-control" id="w" name="writer" readonly th:value="${board.writer}">
        </div>
        <div class="mb-3">
            <label for="r" class="form-label">regDate</label>
            <input type="text" th:value="${#temporals.format(board.regDate,'yyyy-MM-dd HH:mm:ss')}" readonly class="form-control" id="r" >
        </div>
        <div class="mb-3">
            <label for="c" class="form-label">Content</label>
            <textarea class="form-control" id="c" name="content" readonly rows="10" cols="30">[[${board.content}]]</textarea>
        </div>
    </form>

    <a th:href="@{#}" class="text-decoration-none">
        <button type="button" id="modBtn" class="btn btn-warning">modify</button>
    </a>
    <a th:href="@{/board/remove(bno=${board.bno})}" class="text-decoration-none">
        <button type="button" id="delBtn" class="btn btn-danger">delete</button>
    </a>
    <a th:href="@{/board/list}" class="text-decoration-none">
        <button type="button" id="listBtn" class="btn btn-primary">list</button>
    </a>

    <!--댓글 라인-->
    <div id="comment">
        <!--댓글입력-->
        <div class="input-group my-5">
            <span class="input-group-text" id="cmtWriter">Tester</span>
            <input type="text" class="form-control" id="cmtText" placeholder="comment..." aria-label="Username" aria-describedby="basic-addon1">
            <button type="button" id="cmtAddBtn" class="btn btn-primary">post</button>
        </div>

        <!--댓글출력-->
        <ul class="list-group list-group-flush" id="cmtListArea">
            <li class="list-group-item shadow-sm rounded-2">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">writer</div>
                    content가 많아지면 글자는 어떻게 될까요???
                </div>
                <span class="badge rounded-pill text-bg-primary">regDate</span>
                <div class="d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-outline-warning btn-sm">%</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">X</button>
                </div>
            </li>

        </ul>
        <!--moreBtn-->
        <div class="input-group my-5">
            <button type="button" id="moreBtn"
                    data-page="1" class="btn btn-outline-info btn-sm"
                    style="visibility: hidden"
            >more+</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="cmtWriterMod">no.cno Writer</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="cmtTextMod">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="cmtModBtn">Update</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        const bno = [[${board.bno}]];
    </script>

    <script th:src="@{/js/boardModify.js}"></script>
    <script th:src="@{/js/boardComment.js}"></script>
    <script>
        spreadCommentList(bno);
    </script>
</div>